
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

a {
  text-decoration: none;
  color: white; }

@font-face {
  font-family: 'LatoBlack';
  src: url('../fonts/Lato-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'MarvenPro';
  src: url('../fonts/MavenPro-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal; }

html, body {
  cursor: default;
  width: 100%;
  min-height: 100%;
  color: white;
  background-color: #ccc; }
  html ul, body ul {
    list-style: none; }

    .page-wrapper {
  width: 1020px;
  min-width: 1020px;
  margin: 0 auto; }

.header-container {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  background-color: #323232; }
  .header-container:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -25px;
    background-color: transparent;
    border: 25px solid transparent;
    border-top-color: #323232;
    transform: scaleX(1.75);
    z-index: 1; }
  .header-container .nav {
    margin: 29px 10px 22px 10px;
    font-family: 'LatoBold', sans-serif;
    font-size: 10px; }
    .header-container .nav .nav_item {
      display: inline;
      margin: 0 15px; }
      .header-container .nav .nav_item.logo {
        margin: 0 50px;
        position: relative;
        width: 100%; }
        .header-container .nav .nav_item.logo:before {
          position: absolute;
          content: '';
          bottom: 0;
          margin-bottom: -9px;
          border-top: 13px solid transparent;
          border-bottom: 28px solid transparent;
          border-left: 27px solid white;
          transform: skewY(-37deg); }
          .header-container .nav .nav_item.logo:after {
          position: absolute;
          content: '';
          bottom: 0;
          left: -27px;
          margin-bottom: -9px;
          border-top: 13px solid transparent;
          border-bottom: 28px solid transparent;
          border-right: 27px solid white;
          transform: skewY(37deg); }
          .header-container .nav .nav_item.logo .logo-inner {
          position: relative; }
          .header-container .nav .nav_item.logo .logo-inner:before {
            position: absolute;
            content: '';
            bottom: 1px;
            margin-bottom: -9px;
            border-top: 12px solid transparent;
            border-bottom: 26px solid transparent;
            border-left: 25px solid #323232;
            transform: skewY(-37deg); }
            .header-container .nav .nav_item.logo .logo-inner:after {
            position: absolute;
            content: '';
            bottom: 1px;
            left: -25px;
            margin-bottom: -9px;
            border-top: 12px solid transparent;
            border-bottom: 26px solid transparent;
            border-right: 25px solid #323232;
            transform: skewY(37deg);
            z-index: 1; }
    .header-container .nav a:hover {
      color: #00bb98; }

.portfolio-wrapper {
  background-color: white;
  width: 100%;
  height: 570px;
  padding: 77px 0;
  position: relative;
  overflow: hidden; }
  .portfolio-wrapper .portfolio-border {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    margin: 10px 20px 0 20px;
    border-bottom: 1px solid #e2e8e8;
    border-top: 1px solid #e2e8e8;
    height: 700px;
    width: 980px; }
    .portfolio-wrapper .portfolio-border:before {
      position: absolute;
      content: '';
      left: 50%;
      margin-left: -70px;
      width: 135px;
      height: 1px;
      background-color: white;
      top: -1px; }
  .portfolio-wrapper .portfolio-container-inner {
    max-height: 570px;
    overflow: hidden;
    padding: 30px 0;
    width: 1020px;
    display: inline-block;
    text-align: center; }
    .portfolio-wrapper .portfolio-container-inner .img-list-for-5 {
      position: relative;
      max-width: 100%;
      margin: 0 auto; }

      .portfolio-wrapper .portfolio-container-inner .img-list-for-4 {
      position: relative;
      max-width: 790px;
      margin: 0 auto; }
      
      .portfolio-wrapper .portfolio-container-inner .img-list__border {
      position: absolute;
      width: 815px;
      height: 105px;
      top: 50%;
      margin-top: -55px;
      margin-left: -15px;
      border-left: 1px solid #e2e8e8;
      border-right: 1px solid #e2e8e8; }

.portfolio-wrapper > input {
  display: none; }

.portfolio-container {
  position: absolute;
  left: 0;
  width: 6145px;
  height: 570px; }

.img-wrapper {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 210px;
  overflow: hidden;
  transform: rotate(-60deg) skewY(30deg);
  margin: -21px 6px; }

  .img-wrapper > .img-inner1 {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-30deg) rotate(60deg); }

    .img-wrapper > .img-inner1 > .img-inner2 {
      position: absolute;
      left: -100%;
      right: -100%;
      width: auto;
      height: 100%;
      margin: 0 auto; }
      .img-wrapper > .img-inner1 > .img-inner2:hover {
        transform: scale(1.05, 1.05); }

.author-wrapper {
  width: 100%;
  background-color: #00bb98; }

  .author-wrapper .author-container {
    display: inline-block;
    margin: 10px 100px;
    padding: 50px 15px 15px;
    border-right: 1px solid #00a484;
    border-left: 1px solid #00a484; }

    .author-wrapper .author-container .img-author {
      float: left;
      margin: 0 5px; }
    .author-wrapper .author-container .author__quote-wrapper {
      float: left;
      margin: -5px 10px;
      max-width: 578px; }
      .author-wrapper .author-container .author__quote-wrapper .author__name {
        font-family: MarvenPro, sans-serif;
        font-size: 30px;
        color: #cafff5;
        max-height: 35px;
        overflow: hidden; }
      .author-wrapper .author-container .author__quote-wrapper .author__post {
        font-family: MarvenPro, sans-serif;
        font-size: 18px;
        color: #00876e;
        max-height: 21px;
        overflow: hidden; }
      .author-wrapper .author-container .author__quote-wrapper .author__quote {
        font-family: Lato, sans-serif;
        font-size: 12px;
        color: #cafff5;
        margin-top: 13px;
        line-height: 1.8;
        text-align: justify;
        max-height: 125px;
        overflow: hidden; }
    .author-wrapper .author-container .author__social-list {
      margin: 40px 5px;
      float: right; }
      .author-wrapper .author-container .author__social-list .author__social-list_item {
        width: 25px;
        height: 25px;
        display: table;
        float: left; }
        .author-wrapper .author-container .author__social-list .author__social-list_item.facebook {
          background-color: #a4dbd4; }
        .author-wrapper .author-container .author__social-list .author__social-list_item.twitter {
          background-color: #6ccbbe; }
        .author-wrapper .author-container .author__social-list .author__social-list_item.google-plus {
          background-color: #7ed0c5; }
        .author-wrapper .author-container .author__social-list .author__social-list_item.pinterest {
          background-color: #abddd7; }
        .author-wrapper .author-container .author__social-list .author__social-list_item.linkedin {
          background-color: #abddd7; }
        .author-wrapper .author-container .author__social-list .author__social-list_item.dribbble {
          background-color: #abddd7; }
        .author-wrapper .author-container .author__social-list .author__social-list_item a {
          text-align: center;
          vertical-align: middle;
          display: table-cell;
          font-size: 11px; }

.footer-top-wrapper {
  background-color: #353535;
  padding: 10px 30px; }
  .footer-top-wrapper .footer-top-container {
    border-top: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
    padding: 50px 90px; }
    .footer-top-wrapper .footer-top-container .footer-top__form-header {
      font-family: MarvenPro, sans-serif;
      color: #dfdfdf; }
      .footer-top-wrapper .footer-top-container .footer-top__form-header .footer-top__form-title {
        font-size: 30px;
        max-height: 30px;
        overflow: hidden; }
      .footer-top-wrapper .footer-top-container .footer-top__form-header .footer-top__form-description {
        font-size: 18px;
        max-height: 21px;
        overflow: hidden; }
    .footer-top-wrapper .footer-top-container .footer-top__form-container {
      width: 580px;
      display: inline-block;
      vertical-align: top; }
      .footer-top-wrapper .footer-top-container .footer-top__form-container .footer-top__form_input {
        width: 550px;
        padding: 10px 15px;
        font-family: Lato, sans-serif;
        font-size: 12px;
        background-color: #474747;
        border: hidden;
        margin-top: 20px;
        color: #bdbdbd;
        resize: none; }
        .footer-top-wrapper .footer-top-container .footer-top__form-container .footer-top__form_input.footer-top__form_input_field {
          height: 125px; }
      .footer-top-wrapper .footer-top-container .footer-top__form-container .footer-top__form_button {
        background: #00bb98;
        font-family: 'LatoBold', sans-serif;
        font-size: 12px;
        color: #cafff5;
        padding: 12px 30px;
        display: inline-block;
        float: right;
        margin-top: 15px; }
    .footer-top-wrapper .footer-top-container .footer-top__contact-wrapper {
      display: inline-block;
      margin-top: 15px;
      margin-left: 15px;
      max-width: 180px; }
      .footer-top-wrapper .footer-top-container .footer-top__contact-wrapper .footer-top__description {
        font-family: Lato, sans-serif;
        font-size: 12px;
        text-align: justify;
        color: #bdbdbd;
        overflow: hidden;
        height: 150px; }
        .footer-top-wrapper .footer-top-container .footer-top__contact-wrapper .footer-top__description span {
          font-family: LatoBlack, sans-serif;
          color: #dfdfdf; }
      .footer-top-wrapper .footer-top-container .footer-top__contact-wrapper .footer-top__contact-info {
        margin-top: 15px;
        font-size: 12px;
        font-family: LatoBold, sans-serif; }
        .footer-top-wrapper .footer-top-container .footer-top__contact-wrapper .footer-top__contact-info li {
          position: relative;
          max-height: 45px;
          overflow: hidden;
          line-height: 2;
          color: #b4b4b4;
          padding-left: 25px; }
        .footer-top-wrapper .footer-top-container .footer-top__contact-wrapper .footer-top__contact-info > .footer-top__contact_address:before {
          display: inline-block;
          width: 12px;
          text-align: center;
          position: absolute;
          content: '\f041';
          color: #00bb98;
          top: 0;
          left: 0;
          font-family: 'FontAwesome'; }
        .footer-top-wrapper .footer-top-container .footer-top__contact-wrapper .footer-top__contact-info > .footer-top__contact_phone:before {
          display: inline-block;
          width: 12px;
          text-align: center;
          position: absolute;
          content: '\f095';
          color: #00bb98;
          top: 0;
          left: 0;
          font-family: 'FontAwesome'; }
        .footer-top-wrapper .footer-top-container .footer-top__contact-wrapper .footer-top__contact-info > .footer-top__contact_email:before {
          display: inline-block;
          width: 12px;
          text-align: center;
          position: absolute;
          content: '\f0e0';
          color: #00bb98;
          top: 0;
          left: 0;
          font-family: 'FontAwesome'; }
        .footer-top-wrapper .footer-top-container .footer-top__contact-wrapper .footer-top__contact-info a {
          color: #b4b4b4; }

